.schedule-layout {
  font-family: "Chivo", sans-serif;
  width: 240px;
  height: calc(100vh - 248px);
  margin: 100px 0;
  padding: 2rem 0;
  background-color: #27272a;
  color: #fff;
  border-radius: 0 15px 15px 0;
  &-header {
    height: 60px;
    margin: 0 1rem;
    background-color: #667feb;
    border-radius: 10px;
    @include center-flex;
    &-logo {
      background-color: #27272a;
      width: 40px;
      height: 40px;
      @include center-flex;
      border-radius: 10px;
      margin-right: 10px;
    }
  }
  &-links {
    margin: 2.25rem 0;
    &-item {
      padding: 15px;
      background-color: #667feb;
      margin-top: 2.5rem;
      @include vertical-center;
      justify-content: flex-start;
    }
    &-link {
      margin-left: 15px;
      color: #fff;
    }
  }
}
