.login {
  // height: calc(100vh - 48px); /* FormLayout.jsx */
  width: 100%;
  background: linear-gradient(287.56deg, #0f0c29 0%, #302b63 50%, #24243e 100%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  img {
    position: absolute;
  }
  &-red {
    left: 0;
    bottom: 0;
  }
  &-red2 {
    top: 111px;
    right: 15.3%;
  }
  &-blue {
    top: 0;
    left: 31.04%;
  }
  &-blue2 {
    bottom: 68px;
    left: 22.9%;
  }
  &-blue3 {
    bottom: 134px;
    left: 21.67%;
  }
  &-blue4 {
    bottom: 279px;
    right: 24.52%;
  }
  &-blue5 {
    bottom: 212px;
    right: 20.16%;
  }
  &-blue6 {
    right: 0;
    bottom: 0;
  }
  &-green {
    top: 305px;
    left: 21.84%;
  }
  &-green2 {
    top: 462px;
    left: 20.06%;
  }
}
